<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/FordeEdit.css">
    <title>Editar Productos</title>
</head>
<body>
    
        <!--Header--> 
        <%- include("partials/header.ejs") %>
        <!--header-->

        <div class="products-wrapper">
            <div class="cont">
              <h2 class="products-title">Estás editando:<%= productoAEditar.name %></i></h2>
            </div>

          <div class="conteriner-form">
            <form action="/producto/edit-product/<%= productoAEditar.id %>"  method="POST">

              <div class="product-detail">

                <!--<div class="nom-price">-->
                <!--<div class="cont-input">-->
                  <label for="name" class="form-label">Nombre del producto:</label>
                  <input  type="text" value="<%= productoAEditar.name %>" id="name" name="name"  class="form-input">
              </div>

              <div class="product-detail">
                  <label for="price" class="form-label">Precio del producto:</label>
                  <input  type="text" value="<%= productoAEditar.price %>" id="price" name="price" class="form-input">
          
                </div>

              <div class="product-detail">
                <!--<div class="cont-input">-->
                  <label for="discount" class="form-label">Descuento:</label>
                  <input type="text" value="<%= productoAEditar.discount %>" id="discount" name="discount"  class="form-input">
                
              </div>

                <div class="product-detail">
                  <label for="category" class="form-label">Categoría:</label>
                  <select name="category" id="category" class="form-input">
                    <option value="">Elegí</option>
                    <option value="in-sale">En oferta</option>
                    <option value="visited" >Últimos agregados</option>
                  </select>
                </div>
              
               <div class="cont-input">
                  <label for="product-image" class="form-label">Imagen del producto:</label>
                  <input type="file" value="<%= productoAEditar.image %>" id="product-image" name="product-image">
                </div>
              
              <div class="desc-img">
                <!--<div class="cont-input">-->
                  <label for="description" class="form-label">Descipción:</label>
                  <textarea name="description" id="description" class="form-input"></textarea>
                
              </div>
               
                <div class="cont">
                  <button type="submit" class="Edit-produc">Guardar producto</button>
                </div>

              </div>
            </form>
          </div>
        </div>
        <!-- /todos los productos -->

        <!--footer-->
<%- include("partials/footer.ejs") %>
</body>
</html>