<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<%- include("partials/header.ejs") %>
    <main>
<!--slider-->
        <div class="slider-frame">
            <ul>
                <li><img src="/img/slider1.png" alt=""></li>
                <li><img src="/img/slider2.png" alt=""></li>
                <li><img src="/img/slider3.png" alt=""></li>
            </ul>
        </div>
<!--Barra de productos-->
        <h2>Ultimas novedades</h2>
        
    
    
          <section class="flex-container">
            
            <% productos.forEach(producto => { %>
                
                <article class="articulo">
                <a href="http://localhost:3555/producto/detalleP/<%= producto.id %>"> 
                        <img class="imagenes" src="/img/<%= producto.imagen %>" alt="imagen de producto">
                    
                    <div class="nombre-producto"><%= producto.nombre %></div>
                    <div class="precio-producto"><%= producto.precio %></div>
                </a>
                </article>
                
            <% }) %>
        </section>
     
  
    
    <!--hasta aqui llega-->
    </main>

<!--slider2-->
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img class="img" src="/img/1.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/2.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/3.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/4.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/5.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/6.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/7.jpg" alt="">
        </div>

        <div class="slide">
            <img class="img" src="/img/1.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/2.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/3.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/4.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/5.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/6.jpg" alt="">
        </div>
        <div class="slide">
            <img class="img" src="/img/7.jpg" alt="">
        </div>
    </div>
</div>

    <!--(                    )-->
    <div class="caja-padre">
        <div class="caja">
            <a href="#"> <img class="img1" src="/img/card.png" alt="tarjeta"> </a>
        </div>
        <div class="info-text">
            <span style="font-family: Montserrat Medium;">PAGA EN HASTA 12 CUOTAS</span>
            <br>
            con las principales tarjetas"
            <br>
            de credito
        </div>
        <div class="caja">
            <a href=""> <img class="img1" src="/img/camion.png" alt="camion"> </a>
        </div>
        <div class="info-text">
            <span style="font-family: Montserrat Medium;">RRECIBI TUS PEDIDOS</span>
            <br>
            en mas de 100
            <br>
            puntos
            <br>
            de todo el pais
        </div>
    </div>
<!--footer-->
<%- include("partials/footer.ejs") %>
</body>
</html>