<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e666ffac4e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Productos</title>
    <link rel="stylesheet" href="/css/detalleP.css">
</head>
<body>
<!--Header--> 
<%- include("partials/header.ejs") %>
<!--header-->

    <!--empiezo con el detalle del producto-->
    <div class="conteiner">
       <img src="/img/<%= productos.image %>" alt="imgan1" class="imgP">

       <div class="descripcion">
            <div class="producto">
                <h3><%= productos.name %></h3>
                <h3>Descuento:<%= productos.discount%></h3>
                
            </div>
            <h3 class="Precio">Precio actual: <%= productos.price %></h3>
            <h3>Descripcion:</h3>
            <div class="div-P">
            <p><%= productos.description %></p>
        </div>

            <div class="div-btn">
               <button class="btn"> <span></span>COMPRAR</button>
            </div>

            <a href="/producto/edit-product/¿?" class="edit-botton">EditarP</a>
       </div>
    </div>
    
    <!-- hasta aqui llega el detalle de producto-->
    
    <!--Agregue el slider 1-->

    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="/img/1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/4.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/5.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/6.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/7.jpg" alt="">
            </div>
    
            <div class="slide">
                <img src="/img/1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/3.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/4.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/5.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/6.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/img/7.jpg" alt="">
            </div>
        </div>
    </div>

    <!--footer-->
<%- include("partials/footer.ejs") %>
</body>
</html>